<!DOCTYPE html>
<div class="container teamshow">
  <div class="row">
    <p><%= @sport.name%></p><hr/>
  </div>

  <div class="row">
    <!-- admin teams -->
    <%= render("/sports/teams")%>
  </div>
</div><hr/>
<%= link_to 'Edit', edit_sport_path(@sport) %> |
<%= link_to 'Back', sports_path %>
