<!DOCTYPE html>
<div class="container">
  <br/><br/>
  <div class="row">
    Tournaments for all sports
  </div>
  <div class="row">
    <%= render("tournaments/tournaments")%>
  </div>
  <div class="row text-center">
    <%= link_to "New Tourna", new_tournament_path%>
  </div>
</div>
