// Place all the styles related to the Tournaments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  background-color:#c3c4c0;
}
.th-team-column{
  text-align: left;
  width: 10em;
  font-size: 17px;
}
.tournament-column{
  text-align: left;
  width: 10em;
  font-size: 12px;
  border: solid black;
}

// .th-calories-column{
//   text-align: right;
//   width: 7em;
//   font-size: 17px;
// }
// .calories-column{
//   text-align: right;
//   width: 7em;
//   font-size: 12px;
// }
a:visited {
    color: #0d01ef;
  }
